<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Daten</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          {% for column in data[0] %}
          <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          {% for key, value in row.items() %}
          <td><input type="text" value="{{ value }}" /></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
